/*sección [ESTILO CSS] Estilo css*/
body { margin: 0; overflow: hidden; font-family: 'Arial', sans-serif; }
#ui-layer {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#hud-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000;
}
#hud-bottom {
    padding: 20px;
    text-align: right;
    font-size: 30px;
    color: #ffcc00;
    text-shadow: 2px 2px 2px #000;
}
#crosshair {
    position: absolute;
    top: 50%; left: 50%;
    width: 20px; height: 20px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
#start-screen {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: auto;
    z-index: 10;
}
h1 { margin: 0 0 20px 0; font-size: 50px; color: #ff3333; }
p { font-size: 20px; }
.controls-info { color: #aaa; font-size: 16px; margin-top: 10px;}
/*[Fin de sección]*/